@import '../../../../style/colors.scss';
@import '../../../../style/mixins.scss';

table.player.table-striped tbody {
  tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.71);
  }
  tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.74);
  }
}

table.player.table {
  @include resource-colors(color, $prefix: 'tr');
}

.first table.player.table.mine,
.second table.player.table.enemy {
  border-style: solid;
  border-width: 4px;
  border-color: $first-player-main;
}

.first table.player.table.enemy,
.second table.player.table.mine {
  border-style: solid;
  border-width: 4px;
  border-color: $second-player-main;
}