@import '../../../../style/colors.scss';
@import '../../../../style/mixins.scss';

table.shop.table {
  @include resource-colors(background-color, $prefix: 'td') {
    color: black;
  }

  td.can-build,
  td.selected {
    color: black;

    svg path {
      fill: black;
    }
  }

  td.can-build {
    background-color: $can-build-project;
  }

  td.selected {
    background-color: $selected-project;
  }

  svg {
    margin-left: 1px;

    path {
      fill: #e0e0e0;
    }
  }
}

table.shop.table-striped tbody {
  tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.71);
    color: #e0e0e0;
  }
  tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.74);
    color: #e0e0e0;
  }
}

.first {
  @include project-colors(background-color, $first: true, $prefix: 'td') {
    color: black;
  }
}

.second {  
  @include project-colors(background-color, $first: false, $prefix: 'td') {
    color: #e0e0e0;
  }
}